#
# The Alluxio Open Foundation licenses this work under the Apache License, version 2.0
# (the "License"). You may not use this work except in compliance with the License, which is
# available at www.apache.org/licenses/LICENSE-2.0
#
# This software is distributed on an "AS IS" basis, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
# either express or implied, as more fully set forth in the License.
#
# See the NOTICE file distributed with this work for information regarding copyright ownership.
#

{{- if .Values.console.enabled }}
{{- $fullName := include "common.fullname" . }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $fullName }}-console
  labels:
    {{- include "common.labels" (dict "component" "console" "Chart" .Chart "Release" .Release "Values" .Values) | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ $fullName }}-console-role
rules:
- apiGroups: ["k8s-operator.alluxio.com"]
  resources: ["alluxioclusters", "licenses"]
  verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]
- apiGroups: [""]
  resources: ["pods/log", "services", "configmaps", "secrets", "nodes", "namespaces"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list", "watch", "delete"]
- apiGroups: ["apps"]
  resources: ["deployments", "statefulsets", "daemonsets"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["events"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["events.k8s.io"]
  resources: ["events"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ $fullName }}-console-role-binding
  labels:
    {{- include "common.labels" (dict "component" "console" "Chart" .Chart "Release" .Release "Values" .Values) | nindent 4 }}
subjects:
  - kind: ServiceAccount
    name: {{ $fullName }}-console
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ $fullName }}-console-role
  apiGroup: rbac.authorization.k8s.io
{{- end }} 
